<a href="https://colab.research.google.com/github/Archanatshinod/DATASCIENCE_PROJECTS/blob/main/Machine_Test_%7C_30_05_2024.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Here are Python dictionary data and Python list labels:

---




``` python
data = {'animal': ['cat', 'cat', 'snake', 'dog', 'dog', 'cat', 'snake', 'cat', 'dog', 'dog'],
        'age': [2.5, 3, 0.5, np.nan, 5, 2, 4.5, np.nan, 7, 3],
        'visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
```

**1.** **Create a DataFrame from a dictionary:** Create a DataFrame df using the dictionary data and set its index to labels.:

In [1]:
import pandas as pd
import numpy as np

# Your data dictionary and labels
data = {'animal': ['cat', 'cat', 'snake', 'dog', 'dog', 'cat', 'snake', 'cat', 'dog', 'dog'],
        'age': [2.5, 3, 0.5, np.nan, 5, 2, 4.5, np.nan, 7, 3],
        'visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

# Create the DataFrame
df = pd.DataFrame(data, index=labels)

# Display the DataFrame
print(df)

  animal  age  visits priority
a    cat  2.5       1      yes
b    cat  3.0       3      yes
c  snake  0.5       2       no
d    dog  NaN       3      yes
e    dog  5.0       2       no
f    cat  2.0       3       no
g  snake  4.5       1       no
h    cat  NaN       1      yes
i    dog  7.0       2       no
j    dog  3.0       1       no

**2.** **Display DataFrame information:** Show a summary of the basic information about the DataFrame df and its data using a single method.

In [2]:
# Display DataFrame information
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 10 entries, a to j
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   animal    10 non-null     object
 1   age       8 non-null      float64
 2   visits    10 non-null     int64
 3   priority  10 non-null     object
dtypes: float64(1), int64(1), object(2)
memory usage: 400.0+ bytes

**3.** **Return the first few rows:** Retrieve the first 3 rows of the DataFrame df.

In [ ]:
# Retrieve the first 3 rows of the DataFrame
df.head(3)

**4.** **Select specific columns:** Display only the 'animal' and 'age' columns from the DataFrame df.

In [ ]:
# Display the 'animal' and 'age' columns
df[['animal', 'age']]

**5.** **Select specific rows and columns:** Show the data for rows [3, 4, 8] and columns ['animal', 'age'] in the DataFrame df.

In [ ]:
# Select specific rows and columns
df.loc[['d', 'e', 'i'], ['animal', 'age']]

**6.** **Filter rows based on a condition:** Select the rows where the 'visits' column has values greater than 2.

In [ ]:
# Filter rows where 'visits' > 2
df[df['visits'] > 2]

**7.** **Select rows with missing values:** Identify and select the rows where the 'age' column has missing (NaN) values.

In [ ]:
# Select rows where 'age' has missing values
df[df['age'].isna()]

**8.** **Filter rows based on multiple conditions:** Select the rows where the 'animal' is 'cat' and the 'age' is less than 3.

In [ ]:
# Select rows where 'animal' is 'cat' and 'age' is less than 3
df[(df['animal'] == 'cat') & (df['age'] < 3)]

**9.** **Filter rows within a range:** Select the rows where the 'age' is between 2 and 4, inclusive.

In [ ]:
# Select rows where 'age' is between 2 and 4, inclusive
df[df['age'].between(2, 4)]

**10.** **Modify a specific cell:** Change the 'age' value in row 'f' to 1.5.

In [ ]:
# Modify the 'age' value in row 'f' to 1.5
df.loc['f', 'age'] = 1.5

**11.** **Calculate the sum of a column:** Compute the total number of visits in the DataFrame df.

In [ ]:
# Calculate the total number of visits
total_visits = df['visits'].sum()

**12.** **Calculate the mean of a column by group:** Find the mean age for each type of animal in the DataFrame df.

In [ ]:
# Calculate the mean age for each type of animal
mean_age_by_animal = df.groupby('animal')['age'].mean()

**13.** **Append and delete a row:** Add a new row 'k' with chosen values to df, then remove this row to restore the original DataFrame.

In [ ]:
# Append a new row 'k'
df.loc['k'] = ['rabbit', 3.5, 2, 'yes']
# Remove the row 'k'
df = df.drop('k')

**14.** **Count occurrences of unique values:** Count the number of occurrences for each type of animal in the DataFrame df.

In [ ]:
# Count the number of occurrences for each type of animal
animal_counts = df['animal'].value_counts()

**15.** **Sort the DataFrame:** Sort the DataFrame df first by 'age' in descending order, then by 'visits' in ascending order

In [ ]:
# Sort the DataFrame by 'age' (descending) and then by 'visits' (ascending)
df_sorted = df.sort_values(by=['age', 'visits'], ascending=[False, True])

**16.** **Replace column values:** Replace the 'priority' column values 'yes' and 'no' with boolean values: 'yes' should become True and 'no' should become False.

In [ ]:
# Replace 'yes' with True and 'no' with False in the 'priority' column
df['priority'] = df['priority'].replace({'yes': True, 'no': False})

**17.** **Change specific entries:** In the 'animal' column, change all entries with the value 'snake' to 'python'.

In [ ]:
# Replace 'snake' with 'python' in the 'animal' column
df['animal'] = df['animal'].replace('snake', 'python')

**18.** **Load a dataset:** Load the 'ny-flights' dataset into Python.

https://www.kaggle.com/datasets/yasserh/titanic-dataset


**19.** Find the correlation between passenger age and fare in titanic dataset?

**20.** Create a plot showing the relationship between 'age' and 'fare'.